body{
    margin: 0;
}
.home-page{
    background: var(--shadow);
    justify-content: center;
    gap: 5rem;
    padding: 8rem;
}
.heading{
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: 800;
}
.subheading{
    color: var(--lightlavender);
    text-align: left;
    margin-bottom: 2rem;
}
a{
    color: var(--lavender);
    cursor: pointer;
}
a:hover{
    color: var(--lightlavender);
}
.rules{
    background: var(--darkergrey);
    color: var(--lavender);
    margin-bottom: 2rem;
}
.rules:hover{
    box-shadow: 1px 1px 8px 2px rgb(10, 10, 10);
    transition-duration: 0.4s;
    color: var(--lightlavender);
}